import discord
from discord.ext import commands, tasks
import random
import asyncio
from discord.utils import get
from discord import app_commands


bot = commands.Bot(command_prefix="*", intents=discord.Intents.all())

import typing

status = ["avec VarteX|*help", "discord|*help", "avec moi-meme|*help", "avec toi|*help", "ma vie de bot|*help", "avec killian(ニンフィア)|*help"]


@tasks.loop(minutes = 1, seconds = 50)
async def changeStatus():
	game = discord.Game(random.choice(status))
	await bot.change_presence(status = discord.Status.online, activity = game)





@bot.event
async def on_ready():
    print("bot en ligne")
    synced = await bot.tree.sync()
    print("syncroniser")
    changeStatus.start()






@bot.tree.command()
async def coucou(interaction: discord.Interaction):
    await interaction.response.send_message("coucou")




@bot.command()
async def ping(ctx):
	await ctx.reply(f"pong du bot avec une latence de {round(bot.latency * 1000)}ms")




@bot.command()
async def salut(ctx):
    await ctx.send("coucou")








@bot.event
async def on_member_join(member):
    channel = bot.get_channel(1010118425999310898)
    embed = discord.Embed(title = (member), description = "bienvenue a toi sur le serveur de Vartex passe de bon temps", color = 0x3377FF)

    embed.add_field(name = "total des menbres", value = (member.guild.member_count))
    await channel.send(f"merci {member.mention}")


    await channel.send(embed= embed)



@bot.event
async def on_member_remove(member):
    channel2 = bot.get_channel(1072456443380367382)
    embed = discord.Embed(title = (member), description = "un membre vient de quitter le serveur", color = 0xed1f0c)

    await channel2.send(embed= embed)





@bot.command()
async def tm(member):
    await member.send(f"total des membre present {member.guild.member_count} membre")






bot.run("TOKEN")
